@charset "UTF-8";
/* *** SETTINGS */
:root {
  --clr-primary: #1e2e36;
  --clr-primary-rgb: 30, 46, 54;
  --clr-secondary: #44c697;
  --clr-secondary-hsl: 158, 53%;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  position: relative;
  font-family: "Proxima Nova", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.25;
  color: var(--clr-primary, #000);
  scroll-behavior: smooth;
}

/* *** BASE */
h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--clr-primary);
  border: none;
}

/* *** OBJECTS */
.container {
  max-width: 1842px;
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  margin-left: auto;
  margin-right: auto;
}

/* Fix footer down */
.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

/* =============== */
.content__container {
  --padding-lg: 50px;
  --padding-sm: 30px;
  --border-width: 15px;
  padding: var(--padding-lg) 0 var(--padding-lg) var(--padding-sm);
  border-left: var(--border-width) solid var(--clr-secondary);
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.content__container[data-center] {
  --padding-lg: 100px;
  padding: var(--padding-lg) var(--padding-sm);
}
.content__container[data-bd-right] {
  padding: var(--padding-lg) var(--padding-sm) var(--padding-lg) 0;
  border-left: none;
  border-right: var(--border-width) solid var(--clr-secondary);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.icon__container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* *** COMPONENTS */
button,
a.btn {
  text-decoration: none;
  -webkit-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
       user-select: none;
  cursor: pointer;
}

.btn__reset,
.input__reset {
  margin: 0;
  background-color: transparent;
  padding: 0;
  border: 0;
  border-radius: 0;
  color: inherit;
  -webkit-appearance: none;
          -moz-appearance: none;
       appearance: none;
  overflow: visible;
}

.btn {
  --padding-x: 46px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px var(--padding-x);
  border-radius: 3px;
  background-color: hsl(var(--clr-secondary-hsl), 52%);
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  -webkit-user-select: none;
          -moz-user-select: none;
           -ms-user-select: none;
       user-select: none;
  -webkit-transition: background-color 200ms;
  -o-transition: background-color 200ms;
  transition: background-color 200ms;
}
.btn:hover {
  background-color: hsl(var(--clr-secondary-hsl), 35%);
}
.btn:active {
  -webkit-transform: translateY(2px);
      -ms-transform: translateY(2px);
          transform: translateY(2px);
}
.btn:disabled {
  background-color: #444;
}

.btn__arrow-down {
  --size: 20px;
  position: relative;
  width: var(--size);
  height: var(--size);
  vertical-align: top;
  font-size: 0;
  line-height: 0;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  -o-transition: transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}
.btn__arrow-down::before, .btn__arrow-down::after {
  --width: 8px;
  --height: 1px;
  content: "";
  position: absolute;
  top: calc( 50% + var(--width) / 3);
  left: 50%;
  display: block;
  width: var(--width);
  height: var(--height);
  background-color: var(--clr-primary);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  -o-transition: transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
}
.btn__arrow-down::before {
  -webkit-transform: rotate(-135deg);
      -ms-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.btn__arrow-down::after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.btn__arrow-down.lg {
  --size: 24px;
}
.btn__arrow-down.lg::before, .btn__arrow-down.lg::after {
  --width: 10px;
  --height: 2px;
}

.btn__up {
  position: absolute;
  top: -9px;
  left: 8px;
  z-index: 100;
  font-size: 0;
  line-height: 0;
}
.btn__up:hover .btn__up-icon {
  fill: hsl(var(--clr-secondary-hsl), 35%);
  -webkit-transition: fill 200ms;
  -o-transition: fill 200ms;
  transition: fill 200ms;
}
.btn__up-icon {
  fill: hsl(var(--clr-secondary-hsl), 52%);
}
.btn__up:active .btn__up-icon {
  fill: var(--clr-primary);
}

.logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logo__icon {
  fill: var(--clr-primary);
}
.logo__icon + .logo__icon {
  margin-left: 15px;
}
.logo[data-white] .logo__icon {
  fill: #fff;
}

.section {
  margin-bottom: 100px;
  text-align: center;
}
.section__title {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  color: var(--clr-primary);
  background-color: #fff;
  z-index: 1;
}
.section__title::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 2px;
  width: 20px;
  height: 50px;
  background-color: var(--clr-secondary);
  z-index: -1;
}

.social__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__container[data-header] {
  margin-right: 50px;
}
.social__container[data-footer] {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.social__container[data-footer] .social__text, .social__container[data-footer] .social__links > a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .social__container[data-footer] .social__links > a:hover {
    color: var(--clr-secondary);
  }
}
.social__container[data-footer] .social__text {
  margin-bottom: 5px;
  font-weight: normal;
}
.social__text {
  font-size: 18px;
  line-height: 1.25;
  color: var(--clr-primary, #000);
}
.social__links > a {
  margin-left: 5px;
  font-size: 40px;
  line-height: 0;
  font-weight: normal;
  color: var(--clr-primary, #000);
  text-decoration: none;
  -webkit-transition: color 250ms;
  -o-transition: color 250ms;
  transition: color 250ms;
}
.social__links > a::before {
  line-height: 0;
  vertical-align: middle;
}
.social__links > a:focus {
  color: var(--clr-secondary);
}
@media screen and (min-width: 768px) {
  .social__links > a:hover {
    color: var(--clr-secondary);
  }
}

.contact__container {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .contact__container:hover .contact__phone::before {
    color: var(--clr-secondary);
  }
  .contact__container:hover .btn__arrow-down {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .contact__container:hover .contact__phones-list {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    visibility: visible;
  }
}
.contact__container[data-footer] {
  margin-bottom: auto;
}
.contact__container[data-footer] .contact__phones {
  margin: 0;
}
.contact__container[data-footer] .contact__phone {
  color: var(--clr-secondary);
  -webkit-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}
@media screen and (min-width: 768px) {
  .contact__container[data-footer] .contact__phone:hover {
    text-decoration: underline;
  }
}
.contact__container[data-footer] .contact__phone:active {
  text-decoration: underline;
}
.contact__phones {
  margin-right: 5px;
  padding-left: 21px;
}
.contact__phones > * + * {
  margin-top: 5px;
}
.contact__phones-list {
  top: 100%;
  left: 25%;
}
.contact__phones-list.active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  visibility: visible;
}
.contact__phones-item + .contact__phones-item {
  margin-top: 12px;
}
.contact__phones-item > a {
  color: #fff;
}
@media screen and (min-width: 768px) {
  .contact__phones-item > a:hover {
    text-decoration: underline;
  }
}
.contact__phones-item > a:active {
  text-decoration: underline;
}
.contact__phone {
  position: relative;
  display: block;
  color: var(--clr-primary);
  text-decoration: none;
  font-size: 18px;
  line-height: 1.25;
}
.contact__phone::before {
  --size: 24px;
  position: absolute;
  left: calc( var(--size) * -1 );
  top: 0;
  font-size: var(--size);
  vertical-align: middle;
  -webkit-transition: color 200ms;
  -o-transition: color 200ms;
  transition: color 200ms;
}

.slider__container {
  max-width: 462px;
}
.slider__wrapper {
  background-color: #fff;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: #fff;
}
.menu-wrapper {
  margin-left: auto;
}
.menu__item {
  text-align: center;
  padding: 5px;
}
.menu__item.active::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.menu__item + .menu__item {
  margin-left: 5px;
}
.menu__btn {
  position: relative;
  width: 50px;
  height: 50px;
  border: 2px solid var(--clr-primary, #222);
  background-color: #fff;
  border-radius: 50%;
}
.menu__btn span, .menu__btn span::before, .menu__btn span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  margin-top: -1px;
  margin-left: -10px;
  background-color: var(--clr-primary, #222);
}
.menu__btn span::before, .menu__btn span::after {
  content: "";
  display: block;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
}
.menu__btn span::before {
  -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
          transform: translateY(-5px);
}
.menu__btn span::after {
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
}
.menu__btn.active span::before {
  width: 10px;
  -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
          transform: rotate(-35deg);
  -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
          transform-origin: left bottom;
}
.menu__btn.active span::after {
  width: 10px;
  -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
          transform: rotate(35deg);
  -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
          transform-origin: left top;
}
.menu__btn.active[data-right] span::before {
  -webkit-transform: translateX(10px) rotate(35deg);
      -ms-transform: translateX(10px) rotate(35deg);
          transform: translateX(10px) rotate(35deg);
  -webkit-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
          transform-origin: right bottom;
}
.menu__btn.active[data-right] span::after {
  -webkit-transform: translateX(10px) rotate(-35deg);
      -ms-transform: translateX(10px) rotate(-35deg);
          transform: translateX(10px) rotate(-35deg);
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
}
.menu__btn-text {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--clr-primary);
}
.menu__btn-text::before {
  content: "X";
  display: none;
  font-size: 24px;
}

.menu-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
}
.menu-categories__wrapper {
  position: relative;
  margin-right: 115px;
}
.menu-categories__item {
  position: relative;
  margin-right: 3px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .menu-categories__item:hover .btn__arrow-down {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .menu-categories__item:hover > a {
    color: var(--clr-secondary);
  }
  .menu-categories__item:hover .menu-categories__hidden {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    visibility: visible;
  }
}
.menu-categories__item + .menu-categories__item {
  margin-left: 15px;
}
.menu-categories__item > a {
  -webkit-transition: color 250ms;
  -o-transition: color 250ms;
  transition: color 250ms;
}
.menu-categories__hidden {
  top: 100%;
  left: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 320px;
  padding: 12px 16px 24px;
}
.menu-categories__hidden-item {
  display: block;
}
.menu-categories__hidden-item + .menu-categories__hidden-item {
  margin-top: 12px;
}
.menu-categories__hidden-item > a {
  text-decoration: none;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .menu-categories__hidden-item > a:hover {
    text-decoration: underline;
  }
}

/* *** TRUMPS */
.set__underline {
  position: relative;
  display: inline-block;
}
.set__underline::before {
  --height-line: 3px;
  --bottom-margin: -3px;
  content: "";
  position: absolute;
  bottom: var(--bottom-margin);
  left: 0;
  display: block;
  width: 100%;
  border-bottom: var(--height-line) solid var(--clr-secondary);
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  -o-transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}
.set__underline:hover::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.set__underline.from-left::before {
  -webkit-transform-origin: 0% 50%;
      -ms-transform-origin: 0% 50%;
          transform-origin: 0% 50%;
}
.set__underline.from-right::before {
  -webkit-transform-origin: 100% 50%;
      -ms-transform-origin: 100% 50%;
          transform-origin: 100% 50%;
}
.set__underline.static::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}

.set__bg {
  position: relative;
}
.set__bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  z-index: -1;
  display: block;
  background-color: var(--clr-primary);
  background-repeat: no-repeat;
  background-size: cover;
}

._icon-sprite {
  fill: var(--clr-primary);
  -webkit-transition: fill 200ms;
  -o-transition: fill 200ms;
  transition: fill 200ms;
}
._icon-sprite:hover {
  fill: var(--clr-secondary);
}

.footer__developers, .footer__contacts-loc, .footer__contacts-phone, .footer__menu-item > a, .category__item > a, .header__bottom-cart, .contact__phones-item > a, .menu__item > a, .menu-categories__item > a {
  text-transform: uppercase;
  text-decoration: none;
}

.category__item > a, .menu__item > a, .menu-categories__item > a {
  color: var(--clr-primary);
}

.contact__phones-list, .menu-categories__hidden {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  visibility: hidden;
  position: absolute;
  z-index: 50;
  min-width: 200px;
  margin: 0;
  padding: 12px 20px;
  background-color: var(--clr-secondary);
  -webkit-transform-origin: 50% 0;
      -ms-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  -o-transition: transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.header__bottom-menu-btn, .header__top-menu-btn {
  display: none;
}

/* =============***********=============== */
/*------------------------------------*\
  #HEADER
\*------------------------------------*/
.header__top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0;
}
.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}
.header__bottom-btns {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__bottom-cart {
  padding: 10px;
  margin: 0 20px 0 0;
  background-color: transparent;
  color: var(--clr-primary);
}
.header__bottom-cart::before {
  font-size: 30px;
  margin-right: 5px;
}
.header__bottom-cart:focus {
  background-color: #fff;
}
.header__bottom-cart:focus::before {
  color: var(--clr-secondary);
}
.header__bottom-cart:active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  color: var(--clr-secondary);
}
.header__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*------------------------------------*\
  #HERO-SECTION
\*------------------------------------*/
.hero {
  position: relative;
  padding-bottom: 50px;
  background: url(../img/bg__slider.jpg) no-repeat;
  background-position: center top;
  background-size: cover;
}
.hero__scroll {
  max-width: 106px;
  margin: 5px auto 0;
  text-align: center;
}
.hero__scroll-text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: normal;
  color: #fff;
}
.hero__scroll-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 30px;
  color: #fff;
  -webkit-transition: all 200ms;
  -o-transition: all 200ms;
  transition: all 200ms;
  -webkit-animation: bounce 2s infinite 2s;
          animation: bounce 2s infinite 2s;
}

/*------------------------------------*\
  #GOOD-SECTION
\*------------------------------------*/
.good {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 32px;
  text-align: center;
  color: var(--clr-primary);
}
.good__title {
  margin-bottom: 50px;
  line-height: 1;
}
.good__name {
  margin-bottom: 10px;
}
.good__desc {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: normal;
}
.good__btn-detail {
  margin-bottom: 50px;
  text-decoration: none;
}
.good__count {
  margin-bottom: 5px;
}
.good__count-current {
  position: relative;
  font-size: 36px;
}
.good__count-current::after {
  content: "/";
  position: absolute;
  font-size: 24px;
  bottom: 0;
}
.good__count-total {
  margin-left: 8px;
  font-size: 24px;
}
.good__nav-prev, .advantages__slider-btn-prev, .advantages__slider-btn-next, .good__nav-next {
  --size: 30px;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: var(--clr-primary);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.good__nav-prev::before, .advantages__slider-btn-prev::before, .advantages__slider-btn-next::before, .good__nav-prev::after, .advantages__slider-btn-prev::after, .advantages__slider-btn-next::after, .good__nav-next::before, .good__nav-next::after {
  background-color: #fff;
}
.good__nav-prev:disabled, .advantages__slider-btn-prev:disabled, .advantages__slider-btn-next:disabled, .good__nav-next:disabled {
  border: 1px solid var(--clr-primary);
  background-color: #fff;
}
.good__nav-prev:disabled::before, .advantages__slider-btn-prev:disabled::before, .advantages__slider-btn-next:disabled::before, .good__nav-prev:disabled::after, .advantages__slider-btn-prev:disabled::after, .advantages__slider-btn-next:disabled::after, .good__nav-next:disabled::before, .good__nav-next:disabled::after {
  background-color: var(--clr-primary);
}
.good__nav-next {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

/*------------------------------------*\
  #ADVANTAGES-SECTION
\*------------------------------------*/
.advantages__slider-container {
  position: relative;
}
.advantages__slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
  overflow: auto;
}
.advantages__slider-btn-prev, .advantages__slider-btn-next {
  --gap-external: 15px;
  position: absolute;
  top: 50%;
  z-index: 15;
  background-color: #fff;
  cursor: pointer;
}
.advantages__slider-btn-prev::before, .advantages__slider-btn-prev::after, .advantages__slider-btn-next::before, .advantages__slider-btn-next::after {
  background-color: var(--clr-primary);
}
.advantages__slider-btn-prev:disabled, .advantages__slider-btn-next:disabled {
  border: 1px solid #fff;
  background-color: transparent;
}
.advantages__slider-btn-prev:disabled::before, .advantages__slider-btn-prev:disabled::after, .advantages__slider-btn-next:disabled::before, .advantages__slider-btn-next:disabled::after {
  background-color: #fff;
}
.advantages__slider-btn-prev {
  left: var(--gap-external);
  -webkit-transform: translateY(-50%) rotate(90deg);
      -ms-transform: translateY(-50%) rotate(90deg);
          transform: translateY(-50%) rotate(90deg);
}
.advantages__slider-btn-next {
  right: var(--gap-external);
  -webkit-transform: translateY(-50%) rotate(-90deg);
      -ms-transform: translateY(-50%) rotate(-90deg);
          transform: translateY(-50%) rotate(-90deg);
}
.advantages__slide {
  position: relative;
  margin: 0 15px;
  border-radius: 3px;
  overflow: hidden;
}
.advantages__slide::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--clr-primary-rgb), 0.5);
}
.advantages__slide > img {
  -o-object-fit: cover;
     object-fit: cover;
}
.advantages__slide-text {
  position: absolute;
  bottom: -12px;
  padding: 0 30px 30px 30px;
  text-align: left;
  -webkit-transition: bottom 250ms;
  -o-transition: bottom 250ms;
  transition: bottom 250ms;
}
.advantages__slide-text.pl {
  padding-left: 50px;
}
.advantages__slide-title {
  margin-bottom: 18px;
  font-size: 36px;
  color: #fff;
}
.advantages__slide-desc {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  -webkit-transform: translateY(200px);
      -ms-transform: translateY(200px);
          transform: translateY(200px);
  -webkit-transition: opacity 500ms, -webkit-transform 250ms;
  transition: opacity 500ms, -webkit-transform 250ms;
  -o-transition: transform 250ms, opacity 500ms;
  transition: transform 250ms, opacity 500ms;
  transition: transform 250ms, opacity 500ms, -webkit-transform 250ms;
}

/*------------------------------------*\
  #CATEGORY-SECTION
\*------------------------------------*/
.category__menu {
  margin-bottom: 84px;
}
.category__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.category__item.active .category__title::before {
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
}
.category__item.active ._icon-sprite {
  fill: var(--clr-secondary);
}
.category__item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 143px;
  font-size: 24px;
}
.category__title {
  margin-top: 10px;
}
.category__goods {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-column-gap: 30px;
  grid-row-gap: 50px;
  margin-bottom: 50px;
}
.category__good {
  position: relative;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  -o-transition: transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}
.category__good.active {
  -webkit-transform: translateY(-25px);
      -ms-transform: translateY(-25px);
          transform: translateY(-25px);
}
.category__good.active .category__good-desc {
  background-color: var(--clr-secondary);
}
.category__good.active .category__good-name, .category__good.active .category__good-price {
  color: #fff;
}
.category__good .badge__container {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  max-width: 260px;
  margin-top: 10px;
  z-index: 100;
}
.category__good .badge__item {
  display: block;
  padding: 5px 15px;
  margin-bottom: 5px;
  background-color: var(--clr-primary);
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}
.category__good .badge__item[data-sale] {
  background-color: #ff1b1b;
}
.category__good > a {
  display: block;
  position: relative;
  padding-bottom: 51%;
  overflow: hidden;
}
.category__good-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.category__good-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  background-color: #fff;
  -webkit-transition: background-color 250ms;
  -o-transition: background-color 250ms;
  transition: background-color 250ms;
}
.category__good-name, .category__good-price {
  font-size: 24px;
  color: var(--clr-primary);
  -webkit-transition: color 250ms;
  -o-transition: color 250ms;
  transition: color 250ms;
}
.category__good-name {
  margin-right: auto;
  text-decoration: none;
  text-transform: uppercase;
  text-align: left;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}
.category__good-price {
  margin-left: 24px;
}
.category__good-price[data-sale] {
  color: #ff1b1b;
}
.category__good-price[data-old] {
  margin-left: 10px;
  font-size: 18px;
  color: #bcbdbb;
  text-decoration: line-through;
}
.category__good-price > span {
  text-transform: uppercase;
}

/*------------------------------------*\
  #ABOUT-SECTION
\*------------------------------------*/
.about::before {
  right: 0;
  width: 73.3%;
  height: 87.5%;
  background-image: url(../img/bg__about-us.jpg);
}
.about__inner, .consult__inner {
  --padding-y: 100px;
  padding: var(--padding-y) 0;
}
.about__body {
  max-width: 750px;
  margin-right: auto;
  background-color: #fff;
  text-align: left;
}
.about__text {
  font-weight: normal;
  color: var(--clr-primary);
}
.about__text + .about__text {
  margin-top: 15px;
}
.about__text--highlight {
  color: var(--clr-secondary);
  text-transform: uppercase;
  font-weight: bold;
}

/*------------------------------------*\
  #CONSULT-SECTION
\*------------------------------------*/
.consult::before {
  left: 0;
  width: 79.7%;
  height: 87.5%;
  background-image: url(../img/bg__ask-question.jpg);
}
.consult__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.consult__form-wrapper {
  max-width: 513px;
  margin-left: auto;
  background-color: #fff;
  text-align: left;
}
.consult__form-title {
  margin-bottom: 30px;
  color: var(--clr-primary);
}
.consult__form-input {
  margin-bottom: 15px;
  padding: 14px 0 14px 15px;
  border-radius: 3px;
  border: 1px solid var(--clr-primary);
  background-color: #fff;
}
.consult__form-input::-webkit-input-placeholder {
  color: rgba(var(--clr-primary-rgb), 0.6);
}
.consult__form-input::-moz-placeholder {
  color: rgba(var(--clr-primary-rgb), 0.6);
}
.consult__form-input:-ms-input-placeholder {
  color: rgba(var(--clr-primary-rgb), 0.6);
}
.consult__form-input::-ms-input-placeholder {
  color: rgba(var(--clr-primary-rgb), 0.6);
}
.consult__form-input::placeholder {
  color: rgba(var(--clr-primary-rgb), 0.6);
}
.consult__form-btn {
  margin-bottom: 30px;
}
.consult__text {
  display: inline-block;
  max-width: 395px;
  font-size: 18px;
  font-weight: normal;
}
.consult__text-phone {
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

/*------------------------------------*\
  #FOOTER
\*------------------------------------*/
.footer {
  background-color: var(--clr-primary);
  background-image: url(../img/bg__footer.jpg);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: cover;
}
.footer__inner {
  position: relative;
  max-width: 831px;
  padding: 50px 56px 15px 0;
  background-color: var(--clr-primary);
}
.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 50px 0 85px;
}
.footer__menu {
  min-width: 385px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 87px;
}
.footer__menu-list + .footer__menu-list {
  margin-left: 55px;
}
.footer__menu-item {
  position: relative;
  padding-left: 18px;
}
.footer__menu-item::before {
  content: "—";
  position: absolute;
  left: 0;
  display: inline-block;
  color: var(--clr-secondary);
}
.footer__menu-item + .footer__menu-item {
  margin-top: 15px;
}
.footer__menu-item > a {
  color: #fff;
}
.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
  font-style: normal;
}
.footer__contacts-schedule, .footer__contacts-loc, .footer__contacts-phone {
  position: relative;
  display: inline-block;
  margin-bottom: 16px;
  padding-left: 22px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
}
.footer__contacts-schedule::before, .footer__contacts-loc::before, .footer__contacts-phone::before {
  position: absolute;
  left: 0;
}
.footer__contacts-loc, .footer__contacts-phone {
  -webkit-transition: color 250ms;
  -o-transition: color 250ms;
  transition: color 250ms;
}
.footer__contacts-phones {
  margin-bottom: 30px;
}
.footer__contacts-phone {
  margin-bottom: 5px;
  color: var(--clr-secondary);
}
.footer__contacts-phone::before {
  font-size: 20px;
}
.footer__addition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__copyright, .footer__developers {
  font-size: 14px;
  color: #fff;
  font-weight: normal;
  line-height: 1.2;
}
.footer__developers {
  position: relative;
  font-family: "Cuprum", Arial, Helvetica, sans-serif;
  line-height: normal;
}
.footer__developers::before {
  position: absolute;
  top: -2px;
  left: -24px;
  color: #ffd001;
  font-size: 21px;
}

@-webkit-keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  60% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@keyframes bounce {
  0%, 100%, 20%, 50%, 80% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  60% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}
@media screen and (max-width: 1600px) {
  .menu-categories__wrapper {
    margin-right: auto;
  }

  .header__bottom-btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__bottom-cart {
    margin: 0 0 12px 0;
  }
}
@media screen and (max-width: 1400px) {
  .menu-categories {
    position: absolute;
    top: 99%;
    left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 320px;
    -webkit-transform: translateX(-150%);
        -ms-transform: translateX(-150%);
            transform: translateX(-150%);
    border: 1px solid var(--clr-primary);
    -webkit-transition: -webkit-transform 250ms;
    transition: -webkit-transform 250ms;
    -o-transition: transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
    z-index: 100;
  }
  .menu-categories.active {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .menu-categories__wrapper {
    padding-bottom: 5px;
  }
  .menu-categories__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px 36px 8px 12px;
  }
  .menu-categories__item:hover {
    background-color: var(--clr-secondary);
  }
  .menu-categories__item:hover a {
    color: #fff;
  }
  .menu-categories__item + .menu-categories__item {
    margin-left: 0;
  }
  .menu-categories__hidden {
    left: 100%;
    top: 0;
  }
  .menu-categories__hidden-item {
    width: 100%;
    padding: 6px 8px;
  }
  .menu-categories__hidden-item:hover {
    text-decoration: underline;
  }
  .menu-categories__hidden-item:nth-child(2n) {
    background-color: hsl(var(--clr-secondary-hsl), 32%);
  }
  .menu-categories__hidden-item:nth-child(2n+1) {
    background-color: hsl(var(--clr-secondary-hsl), 40%);
  }

  .header__bottom-menu-btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 101;
  }
  .header__bottom-menu-btn.active {
    color: var(--clr-secondary);
  }

  .advantages__slide-title {
    font-size: 28px;
  }
}
@media screen and (max-width: 1240px) {
  .menu {
    position: absolute;
    top: 110%;
    right: 0;
    height: auto;
    width: 320px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border: 1px solid var(--clr-primary);
    -webkit-transform: translateX(150%);
        -ms-transform: translateX(150%);
            transform: translateX(150%);
    -webkit-transition: -webkit-transform 250ms;
    transition: -webkit-transform 250ms;
    -o-transition: transform 250ms;
    transition: transform 250ms;
    transition: transform 250ms, -webkit-transform 250ms;
    overflow: auto;
  }
  .menu.active {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .menu-wrapper {
    position: relative;
  }
  .menu__item {
    padding: 12px;
    margin-bottom: 4px;
  }
  .menu__item::before {
    --bottom-margin: 5px;
  }
  .menu__item + .menu__item {
    margin-left: 0;
  }

  .header__top-menu-btn {
    display: block;
    z-index: 101;
  }

  .advantages__slide:last-child {
    display: none;
  }

  .category__list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 12px;
  }

  .about::before {
    width: 100%;
  }

  .consult::before {
    width: 100%;
  }

  .content__container,
.content__container[data-bd-right] {
    padding: var(--padding-lg) var(--padding-sm);
  }

  .footer__inner {
    padding-left: 16px;
  }
}
@media screen and (max-width: 960px) {
  .header__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__bottom-btns {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .header__logo {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 16px;
  }

  .menu-categories__wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .content__container[data-center] {
    --padding-lg: 50px;
  }

  .hero__scroll {
    margin-top: 24px;
  }

  .category__menu {
    margin-bottom: 36px;
  }
  .category__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 12px;
  }
  .category__item {
    margin-bottom: 12px;
  }
  .category__item > a {
    height: auto;
    padding: 8px 16px;
  }
  .category__title {
    margin-top: 0;
  }
  .category .icon__container {
    display: none;
  }

  .footer__inner {
    max-width: 100%;
  }
  .footer__info {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (max-width: 767px) {
  h2 {
    font-size: 36px;
  }

  .section {
    margin-bottom: 50px;
  }

  .header__top {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .header__top-menu-btn {
    z-index: 111;
  }
  .header__contact {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    margin-top: 12px;
  }
  .header__bottom-menu-btn {
    z-index: 155;
    -webkit-transition: -webkit-transform 200ms;
    transition: -webkit-transform 200ms;
    -o-transition: transform 200ms;
    transition: transform 200ms;
    transition: transform 200ms, -webkit-transform 200ms;
  }
  .header__bottom-menu-btn.active {
    position: fixed;
    top: 18px;
    left: 24px;
    font-size: 0;
    color: var(--clr-primary);
  }
  .header__bottom-menu-btn.active::before {
    display: inline-block;
  }
  .header__bottom-menu-btn.active button {
    display: none;
  }
  .header__text-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .social__container[data-header] {
    margin-right: 0;
  }

  .contact__phones-list {
    left: 50px;
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 110;
    padding: 24px 16px;
    border: none;
  }

  .menu-categories {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    padding: 48px 16px 24px 36px;
    border: none;
    background-color: var(--clr-secondary);
    overflow: auto;
  }
  .menu-categories__hidden {
    display: none;
    position: static;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    visibility: visible;
    margin-top: 12px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    background-color: hsl(var(--clr-secondary-hsl), 42%);
  }
  .menu-categories__hidden.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-categories__item {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 8px 24px 16px;
    margin-bottom: 12px;
  }
  .menu-categories__item.active {
    background-color: var(--clr-secondary);
  }

  .slider__container {
    margin: 0 auto;
    max-width: 68%;
  }

  .content__container[data-center] {
    padding: var(--padding-lg) var(--padding-sm) var(--padding-sm) var(--padding-sm);
  }

  .good__title {
    font-size: 52px;
    margin-bottom: 30px;
  }
  .good__desc {
    font-size: 26px;
  }
  .good__btn-detail {
    margin-bottom: 30px;
  }

  .advantages__slider-wrapper {
    margin: 0;
  }
  .advantages__slide {
    -ms-flex-preferred-size: 90%;
        flex-basis: 90%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    margin: 0 15px 0 0;
  }
  .advantages__slide:last-child {
    display: block;
    margin-right: 0;
  }
  .advantages__slide > img {
    width: 100%;
    height: auto;
  }

  .footer__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__menu {
    margin: 0 0 32px;
  }
  .footer__contacts {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .footer__addition {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .footer__copyright {
    margin-bottom: 16px;
  }

  .contact__container[data-footer] .contact__phones {
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 550px) {
  h3 {
    font-size: 24px;
  }

  .header__bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header__bottom-btns {
    margin-left: 0;
    margin-bottom: 36px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .menu-categories__wrapper {
    margin-right: 0;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .social__container[data-header] .social__text {
    display: none;
  }

  .slider__container {
    width: 320px;
    max-width: 100%;
  }

  .category__goods {
    grid-template-columns: repeat(auto-fit, minmax(296px, 1fr));
    grid-row-gap: 30px !important;
  }
  .category__good-desc {
    padding: 12px 5px;
  }
  .category__good-name {
    font-size: 18px;
  }
  .category__good-price {
    font-size: 18px;
  }
  .category .badge__item {
    font-size: 16px;
  }

  .good {
    padding: 0;
  }
  .good__desc {
    font-size: 18px;
  }

  .consult__inner {
    --padding-y: 60px ;
  }

  .content__container {
    --padding-lg: 30px;
    --padding-sm: 15px;
  }

  .footer__inner {
    padding: 50px 24px 16px 16px;
  }
  .footer__menu {
    min-width: auto;
  }
  .footer__menu-item > a {
    font-size: 16px;
  }
  .footer__logo .logo__text {
    display: none;
  }
}
@media screen and (max-width: 390px) {
  .logo__text {
    display: none;
  }

  .content__container[data-center] {
    padding: var(--padding-lg) 12px var(--padding-sm) 12px;
  }

  .advantages__slide-title {
    font-size: 18px;
  }
  .advantages__slide-text {
    padding-bottom: 15px;
  }
}
/* /=--------------------=--=============/  */
@media screen and (min-width: 768px) {
  .header__bottom-cart:hover {
    background-color: #fff;
  }
  .header__bottom-cart:hover::before {
    color: var(--clr-secondary);
  }

  .menu-categories__wrapper:hover .header__bottom-menu-btn {
    color: var(--clr-secondary);
  }
  .menu-categories__wrapper:hover .menu-categories {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
  }
  .menu-categories__wrapper:hover .btn__arrow-down {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }

  .advantages__slide:hover .advantages__slide-text {
    bottom: 0;
  }
  .advantages__slide:hover .advantages__slide-desc {
    position: static;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    filter: alpha(opacity=100);
  }

  .category__item:hover .category__title::before {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
  }
  .category__item:hover ._icon-sprite {
    fill: var(--clr-secondary);
  }

  .category__good:hover {
    -webkit-transform: translateY(-25px);
        -ms-transform: translateY(-25px);
            transform: translateY(-25px);
  }
  .category__good:hover .category__good-desc {
    background-color: var(--clr-secondary);
  }
  .category__good:hover .category__good-name, .category__good:hover .category__good-price {
    color: #fff;
  }

  .consult__text-phone:hover,
  .footer__menu-item > a:hover,
  .footer__developers:hover {
    text-decoration: underline;
  }

  .footer__contacts-loc:hover, .footer__contacts-phone:hover {
    color: var(--clr-secondary);
  }
}
